.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('./tv.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-child {
    width: 480px;
    height: 320px;
    background-color: #000;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modal-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.modal-contents > h1 {
    color: #C3073F;
    font-family: 'IBM Plex Mono', monospace;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.modal-contents > h1:first-child {
    font-weight: 100;
}

.modal-contents > h1:nth-child(2) {
    font-weight: 300;
}

.modal-contents > h1:last-child {
    font-weight: 700;
}

.sound-button {
    background: none;
    border: none;
    outline: none;
}

.sound-button > i{
    color: #C3073F;
    font-size: 15px;
}

.sound-button:hover > i {
    color: rgb(150, 6, 49);
}

.canvas-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('./tv.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    display: none;
}

button > * {
    pointer-events: none;
}

button {
    cursor: pointer;
    outline: none;
}

.sound-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    position: absolute;
    z-index: 100;
    top: 25%;
    right: 20%;
}

.links-container {
    font-size: 20px;
}

.links-container > a {
    margin-right: 30px;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.links-container > a:hover {
    text-decoration: underline;
}

#start-button {
    margin-top: 15px;
    width: 71px;
}

#start-button:hover {
    background-color: rgb(233, 233, 233);
    border-radius: 3px;
}

.play-again-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 480px;
    height: 320px;
    background-color: #000;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.play-again-container > h1 {
    color: #C3073F;
    font-family: 'IBM Plex Mono', monospace;
}

.play-again-container > h2 {
    color: #C3073F;
    font-family: 'IBM Plex Mono', monospace;
}

#play-again-button:hover {
    background-color: rgb(233, 233, 233);
    border-radius: 3px;
}


.instructions > p {
    padding: 20px;
}

#instructions {
    color: #C3073F;
    background: none;
    border: none;
}

#instructions:hover {
    color: rgb(150, 6, 49);
}

.instructions-toggle {
    color: #C3073F;
    font-family: 'IBM Plex Mono', monospace;
    position: absolute;
    z-index: 100;
    bottom: 18%;
    left: 21%;
}

.instructions {
    margin-block-start: 0em;
    margin-block-end: 0em;
    text-align: justify;
    font-size: 13px;
    width: 700px;
    height: 350px;
    background-color: black;
    color: #C3073F;
    position: absolute;
    bottom: 30%;
    left: 27%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
}

.main-footer {
    position: absolute;
    bottom: 0;
    height: 70px;
    left: 0;
    right: 0;
    background: rgba(195,7,63, .5);
    font-family: 'IBM Plex Mono', monospace;
}

.main-footer-container {
    width: 700px;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
}

.footer-developer {
    margin-right: 30px;
}

.links-container i {
    margin-right: 5px;
}

.footer-developer > h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

#instructionsX {
    background: none;
    outline: none;
    border: none;
    color: #C3073F;
    cursor: pointer;
    font-size: 16px;
}

#instructionsX:hover {
    color: rgb(150, 6, 49);
}